{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "comment-empty-line-before": [ "always", {
      except: ["first-nested"],
      ignore: ["after-comment"],
    } ],
  }
}
